<form id="url-form" style="margin: 0 auto;">
    <span>Original url:</span><input id="url" name="url" style="width: 100%" placeholder="Input a valid url here">
    <input type="submit" value="Submit">
</form>
<div><span>New Shorten url:</span><div id="result"></div></div>
<script>
// noqa
// only tested on chrome
document.querySelector("#url-form").addEventListener("submit", function(e){
    e.preventDefault();
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/api/shorten_url/shorten_url/');
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.onload = function(){
        if(xhr.status == 200){
            var resp = JSON.parse(xhr.responseText);
            var el = document.getElementById('result');
            var new_url = window.location.origin + '/' + resp.id;
            el.innerHTML = '<a href="' + new_url + '" target="_blank">' + new_url + '</a>';
        }
        else{
            alert(xhr.responseText);
        }
    }
    xhr.send(JSON.stringify(
        {url: document.getElementById('url').value}
    ));
});
</script>